<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1>Real-Estate Data</h1>
        <div class="d-flex">
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAdd()">AddList</button>       
         </div>
    </div>
</nav>

<table class="table table-bordered table-sm">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Property Image</th>
        <th scope="col">Property Price</th>
        <th scope="col">Property Location</th>
        <th scope="col">Property Details</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let row of pData">
        <!-- <td>{{row.id}}</td> -->
        <td><img style="width: 150px;height:90px;"  src="{{row.pTitle}}"></td>
        <td>{{row.pPrice |currency:"INR"}}</td>
        <td>{{row.pLocation}}</td>
        <td>{{row.pDetails}}</td>
        <td>
            <button (click)="onEdit(row)" style="color : aliceblue;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>       
            <button (click)="onDelete(row)" class="btn btn-danger mx-3">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Property Records</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">property title</label>
                <input type="text" formControlName="pTitle" class="form-control"  placeholder="Enter Title">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">property price</label>
                <input type="text" formControlName="pPrice" class="form-control"  placeholder="Enter Price">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">property location</label>
                <input type="text" formControlName="pLocation" class="form-control"  placeholder="Enter Location">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">property detail</label>
                <input type="text" formControlName="pDetails" class="form-control"  placeholder="Enter Details">
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" class="btn btn-primary" (click)="postPropDetails()">Add</button>
          <button type="button" *ngIf="showUpdate" class="btn btn-primary" (click)="updatePropDetail()">Update</button>
        </div>
      </div>
    </div>
  </div>